<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Signin</title>
  </head>
  <body>
    <%- include('./partials/nav') %>
    <div class="container mt-4" style="max-width: 500px;">
      <form action="/user/signin" method="post">
        <h2 class="text-center mb-4">Sign In</h2>
        <div class="mb-3">
          <label for="email" class="form-label">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            class="form-control"
            name="password"
            id="password"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary w-100">Sign In</button>
      </form>

      <div class="text-center mt-3">
        <p>Don't have an account? <a href="/user/signup">Sign Up</a></p>
      </div>
      
    </div>
    <%- include('./partials/footer.ejs') %>
    <%- include('./partials/script.ejs') %>
  </body>
</html>